<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781112222-f788fqmplug9uqg712j57k9iieo0detq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781112222-f788fqmplug9uqg712j57k9iieo0detq</string>
	<key>API_KEY</key>
	<string>AIzaSyAuwTHM6FfRHsB-xY4xIwzOnt4G8JE_W8E</string>
	<key>GCM_SENDER_ID</key>
	<string>781112222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.QiitaSearch</string>
	<key>PROJECT_ID</key>
	<string>qiitasearch</string>
	<key>STORAGE_BUCKET</key>
	<string>qiitasearch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781112222:ios:8dc7c329740a9fce07bc8f</string>
</dict>
</plist>